@font-face {
    font-family: "AlegreyaBold";
    src: url("../fonts/Alegreya/AlegreyaSans-Bold.ttf");
}

@font-face {
    font-family: "AlegreyaRegular";
    src: url("../fonts/Alegreya/AlegreyaSans-Regular.ttf");
}

@font-face {
    font-family: "AlegreyaVar";
    src: url("../fonts/Alegreya/Alegreya-VariableFont_wght.ttf");
}

@font-face {
    font-family: "NixieOne";
    src: url("../fonts/Nixie_One/NixieOne-Regular.ttf");
}



/* *=========== GENERELLES STYLING ========== */
body {
    background-color: #f1f0f0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.btn-view-all {
    font-family: Helvetica;
    font-size: clamp(1rem, 2vw, 2.5rem);
    border: 2px solid black;
    padding: 1%;
}

.heading-sections {
    font-family: "AlegreyaRegular";
    color: rgb(35, 35, 35);
    font-size: clamp(2rem, 3vw, 5rem);
    margin-bottom: 3vh;
}

.our-latest-works article:nth-of-type(1),
.blog article:nth-of-type(1) {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 15vh;
}

.testimonials,
.blog,
.our-latest-works {
    padding: 15vh 15vw;
}


/* *============== HOVER ================= */
/* ?===== BURGER MENU CHANGE TO CROSS */
.burgerMenu:hover div:nth-child(1) {
    transform: translateY(10px) rotate(45deg); /* Turn the first line into the top part of the cross */
}

.burgerMenu:hover div:nth-child(2) {
    opacity: 0; /* Hide the middle line to form the cross */
}

.burgerMenu:hover div:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg); /* Turn the third line into the bottom part of the cross */
}


/* *================ HEADER ================ */
header {
    padding: 3% 5%;
    background-image: url("../img/header.png");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    text-align: center;
    height: 100vh;
    box-shadow: 0px 0px 20px black;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25vh;
}

header nav p {
    font-family: "AlegreyaVar";
    font-size: clamp(1.5rem, 2.5vw, 4rem)
}

.burgerMenu div {
    height: 5px;
    width: 35px;
    background-color: whitesmoke;
    margin-bottom: 5px;
    border-radius: 3px;
    transition: all 0.3s ease; /* Füge eine Transition für eine sanfte Animation hinzu */
}

.burgerMenu:hover div:nth-child(1) {
    transform: translateY(10px) rotate(45deg); /* Verwandle die erste Linie in das obere Teil des Kreuzes */
}

.burgerMenu:hover div:nth-child(2) {
    opacity: 0; /* Verstecke die mittlere Linie, um das Kreuz zu formen */
}

.burgerMenu:hover div:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg); /* Verwandle die dritte Linie in das untere Teil des Kreuzes */
}

h1 {
    font-family: "NixieOne";
    font-weight: lighter;
    font-size: clamp(3rem, 6vw, 7rem);
}

header article p {
    font-family: "AlegreyaVar";
    font-size: clamp(2rem, 2vw, 2rem);
    color: rgba(245, 245, 245, 0.553);
}


/* *============= OUR LATEST WORKS ============= */
.our-latest-works article div p {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

/* ?Gallerie */
.gallerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallerie img {
    width: 20vw;
    height: 25vh;
    object-fit: cover;
    margin-bottom: 5%;
}


/* *============= OUR SERVICES ============= */
.our-services {
    background-image: url("../img/bgOurServices.png");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    text-align: center;
    padding: 5% 2%;
}

.bg-color-box {
    background-color: rgba(101, 101, 101, 0.449);
    width: 80%;
    margin: 0 auto;
    padding: 5%;
}

.our-services .heading-sections {
    color: whitesmoke;
}

.our-services article p {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.our-services article:nth-of-type(1) article {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
}

.icon-box {
    width: 22%;
    font-family: Helvetica;
}

.icon-box p:nth-of-type(1) {
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    margin: 4% 0 10% 0;
}

.icon-box p:nth-of-type(2) {
    font-size: clamp(1rem, 1.5vw, 1.8rem);
    font-weight: lighter;
}


/* *============= FROM THE BLOG ============= */
.blog article:nth-of-type(1) p {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.blog article:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
}

.blog article:nth-of-type(2) div {
    width: 30%;
}

.blog article:nth-of-type(2) div h3 {
    font-family: "AlegreyaRegular";
    font-size: clamp(1.3rem, 2vw, 2.7rem);
    margin: 2% 0 4% 0;
}

.blog-date {
    font-family: "NixieOne";
    margin-bottom: 3%;
    font-size: clamp(.8rem, 1vw, 1.2rem);

}

.blog-text {
    font-family: "AlegreyaRegular";
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    margin-bottom: 7%;
}

.blog-link {
    font-family: "AlegreyaRegular";
    font-size: clamp(2rem, 1.5vw, 1.6rem);
    color: #4da7ca;
    cursor: pointer;
}

.blog-link:hover {
    text-decoration: underline;
}


/* *============= GET A FREE QUOTE ============= */
.free-quote {
    background-image: url("../img/bgBeforetestimonials.png");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    text-align: center;
    padding: 5% 2%;
}

.bg-color-quote-box {
    background-color: rgba(101, 101, 101, 0.449);
    width: 80%;
    margin: 0 auto;
    padding: 5%;
}

.quote-text {
    font-family: "AlegreyaRegular";
    font-size: clamp(1.5rem, 2.5vw, 3.5rem);
    margin-bottom: 6%;
}

.free-quote-btn {
    display: inline-block;
    font-family: Helvetica;
    font-size: clamp(1rem, 2vw, 2.5rem);
    border: 2px solid whitesmoke;
    padding: 1%;
}


/* *============= TESTIMONIALS ============= */
.testimonials {
    text-align: center;
}

.testimonials article:nth-of-type(1) p {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.testimonials article:nth-of-type(2) img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonials article:nth-of-type(2) {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.testimonials article:nth-of-type(2) div {
    width: 25%;
    font-family: "AlegreyaRegular";

}

.testimonials article:nth-of-type(2) .testimonials-text {
    font-size: clamp(1rem, 1.2vw, 1.6rem);
    margin: 7% 0;
}

.testimonials article:nth-of-type(2) .tesimonials-name {
    font-family: "AlegreyaBold";
    font-size: clamp(1rem, 1.2vw, 1.6rem);
    margin-bottom: 3%;
}

.testimonials article:nth-of-type(2) .testimonials-job {
    font-family: "AlegreyaRegular";
    color: rgb(35, 35, 35);
    font-size: clamp(1rem, 1vw, 1.3rem);
}


/* *============= FOOTER ============= */
footer {
    background-image: url("../img/footerBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5% 0 0 0;
    text-align: center;
    color: whitesmoke;
}

footer .bg-color-footer-box {
    background-color: rgba(101, 101, 101, 0.449);
    width: 80%;
    margin: 0 auto;
    padding: 5%;
}

footer .bg-color-footer-box .footer-text {
    margin-bottom: 5vh;
}

footer .bg-color-footer-box .heading-sections {
    color: whitesmoke;
    margin-bottom: 1vh;
}

footer .bg-color-footer-box .footer-text p {
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-family: "AlegreyaRegular";
}

/* ?FORMULAR */
form {
    width: 25vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

input:nth-of-type(1),
input:nth-of-type(2), 
textarea {
    background-color: transparent;
    display: block;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    padding: 2% 5% 2% 2%;
    margin-bottom: 3%;
    font-family: "Helvetica";
}

textarea {
    resize: none;
}

::placeholder,
input {
    color: whitesmoke;
    font-family: "Helvetica";
}

input[type="submit"] {
    width: 25%;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    padding: 2% 0;
    cursor: pointer;
}

/* ?COPYRIGHT BOX */
footer .copyright-box {
    background-color: #2b3e51;
    padding: 3% 10%;
    margin-top: 4%;
    text-align: left;
}

footer .copyright-box p {
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-family: "Helvetica";
}